
h2 { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   halign:center;
   padding: 12px; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding-top: 40px;
  position: relative;
  width: 95%;
  border: 1px solid black;
}

#pagehdr {  
	width: 97%;
    margin-right: 20px;
  	margin-top: -35px; 
  	margin-bottom: 5px; 
  	margin-left: 10px;
  	border: 1px solid black;
  	text-align: center; 
  	font-size: 17pt;
}

.siteInstanceView .tick line { stroke: #666; stroke-width: .5px; }
.siteInstanceView { font: 10px sans-serif; border: 1px solid black; margin-left: 10px;}
.siteInstanceView .marker { stroke: #000; stroke-width: 2px; }
.siteInstanceView .range.s0 { fill: #eee; }
.siteInstanceView .range.s1 { fill: #ddd; }
.siteInstanceView .range.s2 { fill: #ccc; }
.siteInstanceView .measure { }
.siteInstanceView .title { font-size: 10px; font-weight: bold; }
.siteInstanceView .subtitle { fill: #999; }
.siteInstanceView .message { font: 12px sans-serif; fill: #999; }
.siteInstanceView .stateSm { font: 9px sans-serif; font-weight: bold; font-style: italic;}
.siteInstanceView .state { font: 10px sans-serif; }
.siteInstanceView .eventSummary { font: 9px sans-serif; font-style: italic;}
.siteInstanceView .params { font: 8px sans-serif; font-style: italic;}
