body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
	border: 2px solid; 
	border-color: black;
	border-radius: 5px;  
	padding-top: 40px;
	position: relative;
	width: 98%;
	margin-left: 10px; 
	margin-top: 10px;
}

h2 { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   halign:center;
   padding: 12px; 
}

.imgASGSLogo {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1px;
    margin-right: auto;
    margin-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    align: left;
}

.imgRENCILogo {
    border: 01px solid #000;
    border-radius: 5px;
    padding: 1px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    align: right;
}

.priorResultLink
{
	margin-left: 10px;
	white-space: nowrap; 
}

.chart div {
	font: 10px sans-serif;
    border: 1px solid #000;
    border-radius: 1px;
	background-color: azure;
	text-align: left;
	padding: 3px;
	margin: 1px;
	margin-top: 5px;
	margn-left: 5px;
	color: black;
}

.panel-default > .panel-heading 
{
	background-color: azure;
}

.panel-default 
{
    border-color: #aaa;
}

.nav-tabs
{
    border: 1px solid #aaa;
    border-top-color: transparent;
    border-left-color: transparent;    
    border-right-color: transparent;    
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	border: 1px solid #aaa;
    border-bottom-color: transparent;
}

.userViewtext
{
	margin-left: 15px;	
}


#clusterUtilArea, #userAdminArea
{
  	border: 1px solid;
  	border-color: #92d3ed;
    border-radius: 5px;	
    margin-top: 5px;
}

#pagehdr {  
	width: 98%;
  	border: 2px solid black;
    border-radius: 5px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
  	text-align: center; 
  	font-size: 18pt;
  	background-color: azure;
}

#monitorTab, #priorResultsTab, #prefsTab, #submitTab, #configTab, #adminTab
{
	margin-top: 5px;
	margin-left: 5px;
}

#siteInstancesTarget
{
	margin-left: -5px;
}

.siteInstanceView { font: 10px sans-serif; border: 1px solid; border-color: silver; border-radius: 4px; margin-left: 5px;}
.siteInstanceView .tick line { stroke: gray; stroke-width: .5px; }
.siteInstanceView .marker { stroke: #000; stroke-width: 2px; }
.siteInstanceView .range.s0 { fill: #eee; stroke: gray; stroke-width: .5px;}
.siteInstanceView .range.s1 { fill: #ddd; stroke: gray; stroke-width: .5px;}
.siteInstanceView .range.s2 { fill: #ccc; stroke: gray; stroke-width: .5px;}
.siteInstanceView .eventBox { fill: azure; stroke: black; stroke-width: .5px; opacity: 0.4}
.siteInstanceView .measure { }
.siteInstanceView .title { font-size: 14px; font-weight: bold; }
.siteInstanceView .subtitle { fill: #999; }
.siteInstanceView .message { font: 16px sans-serif; fill: #999; }
.siteInstanceView .stateSm { font: 13px sans-serif; font-weight: bold; font-style: italic;}
.siteInstanceView .state { font: 11px sans-serif; }
.siteInstanceView .eventSummary { font: 10px sans-serif; font-style: italic; }
.siteInstanceView .params { font: 8px sans-serif; font-style: italic;}

img : hover
{
	transform: scale(5,5);
	-webkit-transform: scale(5,5); /* Safari and Chrome */
}

.errorlist
{
	color: white;
	background-color: red;
}