{% load static %}
<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  
	  	<title>{% block title %}{% endblock %}</title>
			
		<link rel="shortcut icon" href="{% static 'ASGS_Mon/favicon.ico' %}" type="image/png">
		<link rel="icon" href="{% static 'ASGS_Mon/favicon.ico' %}" type="image/png">
		
		<!-- JQuery components -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<!-- Bootstrap components -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
		
		<!-- D3 components -->
		<script src="https://d3js.org/d3.v3.min.js"></script>
		<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
		
		<!-- tool tip balloons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		
		<!-- View components -->
		<link rel="stylesheet" href="{% static 'ASGS_Mon/style.css' %}" type="text/css">					
		<script src="{% static 'ASGS_Mon/monitorView.js' %}"></script>
		<script src="{% static 'ASGS_Mon/monitorTab.js' %}"></script>		
		<script src="{% static 'ASGS_Mon/tabHandlers.js' %}"></script>	
		
		<script type="text/javascript">	function redirectme(target) {window.location.href = target;} </script>					
	</head>
	<body id="theBody">
	  	<header>
			<table id="pagehdr">
				<tr>
					<td align="left"><a href="{% url 'about' %}" target="_blank"><img class="imgASGSLogo" src="{% static 'ASGS_Mon/images/ASGSlogo.jpg' %}" style="width: 85px; height: 70px;"/></a></td>
					
					{% if user.is_authenticated %}
					<td align="center">						
						<dd>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#NCEP">
								<img class="imgASGSLogo" src="https://www.wpc.ncep.noaa.gov/NationalForecastChart/staticmaps/noaad1.png" style="width: 100px; height: 75px;"/>
							</a></br>
							<span style="font-size: 18px;">NCEP</span>
						</dd>
						
						<div id="NCEP" class="modal fade" role='dialog'>
						    <div class="modal-dialog modal-lg">
								<div class="modal-content"">
									<div class="modal-body">
										<img style="width: 750px; height: 540px;" src="https://www.wpc.ncep.noaa.gov/NationalForecastChart/staticmaps/noaad1.png">       
									</div>
								</div>
							</div>
						</div>
					</td>					
					{% endif %}

					<td style="text-align: center;">ASGS Operational Awareness Dashboard
						<span style="font-size: 18px;"><div id="NCEP_cycle" style="margin-right: 20px; margin-top: 5px; text-align: center;"></div></span>	
						<span style="font-size: 18px;"><div id="local_Time" style="margin-right: 20px; margin-top: 5px; text-align: center;"></div></span>					
										
					{% if user.is_authenticated %}
						<div style="margin-right: 20px; margin-top: 5px; text-align: center;"><span style="font-size: 16px; font-style: italic">Good day, {{ user.get_full_name }}.</span>&nbsp;&nbsp;&nbsp;<span style="font-size: 16px;"><a href="{% url 'logout' %}">Log out</a></span>
						
						{% if user.is_superuser %}
							&nbsp;&nbsp;&nbsp;<span style="font-size: 16px;"><a href="{% url 'admin:index' %}">Go to admin site</a></span>							
						{% endif %}
						
						</div>
					{% elif not request.path == "/login/" and not request.path == "/" %}
						<div style="margin-right: 20px; margin-top: 5px; text-align: center;"><span style="font-size: 16px;"><a href="{% url 'login' %}">Login</a></span></div>
					{% endif %}
					</td>

					{% if user.is_authenticated %}
					<td align="center">						
						<dd>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#NHC-NOAA">
								<img class="imgASGSLogo" src="https://www.nhc.noaa.gov/overview_atl/tafb_atl_graphics.png" style="width: 100px; height: 75px;"/>
							</a></br>
							<span style="font-size: 18px;">NHC-NOAA</span>
						</dd>
						
						<div id="NHC-NOAA" class="modal fade" role='dialog'>
						    <div class="modal-dialog modal-lg">
								<div class="modal-content"">
									<div class="modal-body">
										<img style="width: 750px; height: 540px;" src="https://www.nhc.noaa.gov/overview_atl/tafb_atl_graphics.png">       
									</div>
								</div>
							</div>
						</div>
					</td>					
					{% endif %}

					<td align="right">
						<a href="https://renci.org/" target="_blank"><img class="imgRENCILogo" src="{% static 'ASGS_Mon/images/RENCIlogo.jpg' %}" style="width: 90px; height: 55px;"/></a><br>
					{% if user.is_authenticated %}
						<div id="chatBtnHide" class="" style="display:none;">
							<button id="chatBtn" style="margin-right: 11px;" role="button" class="btn btn-primary" data-toggle="collapse" data-target="#chatArea" aria-expanded="true"><i id="chatBtnI" class="" style="margin-left: -3px; margin-right: 3px"></i>ASGS Chat</button>
						</div>
					{% endif %}
					</td>					
				</tr>		
			</table>
		</header>
		  
		{% block content %}
		{% endblock %}
		
		<footer class="footer">
			<div class="container">
      			<a href="https://renci.org/" target="_blank">&copy; RENCI</a> | <a href="https://www.ncep.noaa.gov/" target="_blank">NCEP</a> | <a href="https://www.cpc.ncep.noaa.gov/" target="_blank">CPC</a> | <a href="https://cera.coastalrisk.live/" target="_blank">CERA</a> | <a href="https://www.nhc.noaa.gov/" target="_blank">NHC</a>
      		</div>		
		</footer>
		
	</body>
</html>
