{% extends 'base.html' %}

{% block title %}Password change{% endblock %}

{% block content %}
<script type="text/javascript">
	function redirectme(target) {window.location.href = target;}
</script>
<div class="card-body">
	<div class="row">
		<div class="col-lg-5" style="margin-left:15px">
			<div class="card">
				<div class="card-header">Change your password</div>
				<div class="card-body">
					<form method="post">
						    {% csrf_token %}						    
						    {{ form }}						
							<button type="submit" class="btn btn-info">Submit</button>			
							<button type="button" class="btn btn-danger" onclick="redirectme('{% url 'index' %}')">Cancel</button>			
					</form>
				</div>
			</div>
		</div>
	</div>
</div> 
{% endblock %}	