{% extends 'base.html' %}

{% block title %}Password change complete{% endblock %}

{% block content %}
<div class="panel-body">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Change your password</div>
				<div class="panel-body">
					<span style="font-size: 16px; color: green; font-weight: bold">Password change complete</span>
					<br><br>
					<span style="font-size: 16px;"><a href="{% url 'index' %}">Back to the ASGS Monitor</a></span>
				</div>
			</div>
		</div>
	</div>
</div> 
{% endblock %}	