{% extends 'base.html' %}
	{% block title %}ASGS Monitor{% endblock %}
	
	{% block content %}
	
	<div id="bodyView">
		<div class="panel-body">
			<div class="aboutbody">
				<div style="margin-top: 10px;">
					<span style="font-size: 20px; font-weight: bold;">About the ASGS Operational Awareness Dashboard.</span>
				<div>
				<div style="margin-left: 10px; text-align: left;">
					<br><p><span style="font-size: 16px;">The ASGS Operational Awareness Dashboard is a web site that works in tandem with the Advanced Surge Guidance System (ASGS) to monitor compute resources analyzing storm data.</span></p> 
					
					<br><span style="font-size: 16px;">Shown below is a single ASGS instance panel.<br></span>
					
					<img src="{% static 'ASGS_Mon/images/ASGS_panel.JPG' %}" style="width: 1000px; height: 200px;">
										
					<p>
						<span style="font-size: 16px;">Where:<br>
							<ul>
								<li>A - The ASGS Site and run name.</li>
								<li>B - The current state of the ASGS process instance.</li>
								<li>C - The ASGS process instance parameters.</li>
								<li>D - The Advisory progress area containing progress information for an advisory.</li>
								<li>E - The progress bar displays information about the main ASGS process, sub-processes and textual information.</li>
								<li>E - The message area displays event messages embedded within the ASGS code. Click to display the last 7 messages.</li>
							</ul>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
		
	{% endblock %}