{% extends 'base.html' %}
	{% block title %}ASGS Monitor{% endblock %}
	
	{% block content %}
	
	<div id="bodyView">
		<div class="panel-body">
			<div class="aboutbody">
				<div style="margin-top: 10px;">
					<span style="font-size: 20px; font-weight: bold;">About the ASGS Operational Awareness Dashboard.</span>
				<div>
				<div style="margin-left: 10px; text-align: left;">
					<br><p><span style="font-size: 16px;">The ASGS Operational Awareness Dashboard is a web site that works in tandem with the Advanced Surge Guidance System (ASGS) to monitor compute resources analyzing storm data.</span></p> 
				</div>
			</div>
		</div>
	</div>
		
	{% endblock %}