{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'ASGS_Mon/style.css' %}" />
</head>
<body>
<script type="text/javascript">

//check for browser support
 if(typeof(EventSource) !== "undefined") { 	
 	// define the event endpoint 
 	var eSource = new EventSource("http://127.0.0.1:8000/ASGS_Mon/event");
	
 	// detect message receipt
 	eSource.onmessage = function(event) 
 	{		
		//write the received data to the page
 		document.getElementById("serverData").innerHTML = '<br /><br />FULL Payload dump:<br /><br />' + event.data;		

 		// parse the incoming data object
 		var theMsg = JSON.parse(event.data);
 		
 		// for each site passed
 		for (var i=0; i<theMsg.sites.length; i++)
 		{ 			
 			// grab some data points
 			var s = theMsg.sites[i];
 			var siteName = s.site;
 			
 			var si = s.info
 			
 			var rnd = si.rnd;			
 			var eventType = si.type;
 			var clusterName = si.cluster_name;
 			var dateTime = si.datetime;
 			
 			var advisoryNumber = si.hurricane.advisory_number;
 			var stormName = si.hurricane.storm
 			var stormNumber = si.hurricane.storm_number
 			
 			var message = si.weather.message;
 			var messageType = si.weather.message_type;
 				
 			// create an array of colors
	 		colors = ["{% static 'ASGS_Mon/images/green.jpg' %}", "{% static 'ASGS_Mon/images/yellow.jpg' %}", "{% static 'ASGS_Mon/images/red.jpg' %}", "{% static 'ASGS_Mon/images/black.jpg' %}"];
 			
 			// create an array of random text
	 		text = ["Full site capacity available\ndetailed status:testing", "Site working and has capacity", "Site working, has no more capacity", "Site off-line" ];
		
			document.getElementById(siteName).innerHTML = '<img src="' + colors[rnd] + '" height="100" width="100"><h2><span>' + siteName + '</span></h2>';
			
			document.getElementById("span-" + siteName).title = "event type: " + eventType + ", event date: " + dateTime + ", advisory number: " + advisoryNumber + ", storm name: " + stormName + ", storm_number:" + stormNumber;			
 		}
 	};
 }
 else {
 	document.getElementById("serverData").innerHTML="Whoops! Your browser doesn't receive server-sent events.";
 }

</script>

<div id="serverData"></div><br />

<table id=dashboard>
	<tr>
		<td><span id="span-TACC"><div class="image" id="TACC"></div></span></td>
		<td><span id="span-LSU"><div class="image" id="LSU"></div></span></td>
		<td><span id="span-RENCI"><div class="image" id="RENCI"></div></span></td>
		<td><span id="span-UCF"><div class="image" id="UCF"></div></span></td>
		<td><span id="span-GM"><div class="image" id="GM"></div></span></td>
	</tr>
</table>

</body>
</html>