{% extends 'base.html' %}
	{% block title %}ASGS Monitor{% endblock %}
	
	{% block content %}
		<script type="text/javascript">
			$(document).ready(function()
			{
				// Internet Explorer 6-11
				var isIE = /*@cc_on!@*/false || !!document.documentMode;

				// Edge 20+
				var isEdge = !isIE && !!window.StyleMedia;
				
				// is this browser supported?
				if(isIE || isEdge)
				{
					// hide all relevant content
					$('#navTabs').hide(0);
					$('#tabContent').hide(0);
					
					// generate a random number for the image index
				    rndNum = Math.floor(Math.random() * 3) + 1;
				    
					// show the image area with the image source
					$('#browserError').show(0);					
					$("#errImage").attr("src", "/static/ASGS_Mon/images/error" + rndNum + ".gif");					
				}
				else
				{
					// set the exited run type id
					var _CONST_EXIT_MSG_TYPE = 9;
				
					// set the location of the individual site component
					var margin = {top: 20, right: 15, bottom: 20, left: 15};
					
					// set the width of the individual site instance component
					var width = margin.left + 550 + margin.right;
					
					// set the height of the individual site instance component
					var height = 55 - margin.top - margin.bottom;
				
					// create the site instance visualization component
					var siteInstance = d3.siteInstanceView()
				    	.width(width)
				    	.height(height)
				    	.margin(margin);
					
					// fire up the tab view
					renderMonitorTab(siteInstance);
				}
			})
		</script>		
	
		<audio id="audioExpand" src="/static/ASGS_Mon/sounds/expand.wav" ></audio>
		<audio id="audioCollapse" src="/static/ASGS_Mon/sounds/collapse.wav" ></audio>
	
		<div class="card-body">
			<ul class="nav nav-tabs" id="navTabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="monitor-Tab" data-toggle="tab" href="#monitorTab" role="tab">Monitor</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" id="preferences-tab" data-toggle="tab" href="#prefsTab" role="tab">Preferences</a>
				</li>
				
				{% if user.is_superuser %}
				<li class="nav-item">
					<a class="nav-link" id="priorResults-Tab" data-toggle="tab" href="#priorResultsTab" role="tab">Prior Results</a>
				</li>
				{% endif %}
				
				{% if user.is_superuser %}
				<li class="nav-item">
					<a class="nav-link" id="submit-Tab" data-toggle="tab" href="#submitTab" role="tab">Job Submission</a>
				</li>
				{% endif %}
				
				<li class="nav-item">
					<a class="nav-link" id="config-Tab" data-toggle="tab" href="#configTab" onclick="initConfigTabList();" role="tab">Run Configurations</a>
				</li>
				
				{% if user.is_superuser %}
				<li class="nav-item">
					<a class="nav-link" id="admin-Tab" data-toggle="tab" href="#adminTab" role="tab">Administration</a>
				</li>
				{% endif %}
			</ul>
		
			<div id="browserError" align="center" style="margin-top: -50px; display: none;">
				<span style="font-style: italic; font-size: 20px; color: red"></br></br>Microsoft browser detected!</span></br></br>
				<img id="errImage" src=""/>
				<span style="font-style: italic; font-size: 16px;"></br></br>Microsoft unfortunately does not support a key feature of HTML 5 that is needed to render this website.</br>Please use a different browser, ANY browser.</span>
			</div>
			
			<div id="tabContent" class="tab-content">
				<div id="monitorTab" class="tab-pane fade show active" role="tabpanel">
					<div class="row">						
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">Site instances</div>
								<div class="card-body">	
									<div class="col-lg-4">
										<div class="card" style="margin-top: -10px; margin-bottom: 5px">
											<div class="card-header">
												<a class="card-link" data-toggle="collapse" href="#collapseFilter">View Filtering</a>
											</div>
											<div id="collapseFilter" class="collapse" data-parent="#monitorTab" style="margin-top: 10px; margin-left: 5px">
													<label class="check">Active <span style="font-style: italic; font-size: 10px">(Completing, Idle, Pending, Operational, Running, etc.)</span><input id="viewActive" type="checkbox" checked>
													  	<span class="checkmark"></span>
													</label>
													
													<label class="check">Inactive<input  id="viewInactive" type="checkbox">
													  	<span class="checkmark"></span>
													</label>												
														<label class="radio">Error<input id="rbError" type="radio" name="is_filterGroup" data-val="3" checked>
														  <span class="checkround"></span>
														</label>
														<label class="radio">Exited<input id="rbExited" type="radio" data-val="9" name="is_filterGroup">
														  <span class="checkround"></span>
														</label>
														<label class="radio">Stalled<input id="rbStalled" type="radio" data-val="10" name="is_filterGroup">
														  <span class="checkround"></span>
														</label>
														<label class="radio">Waiting<input id="rbWaiting" type="radio" data-val="8" name="is_filterGroup">
														  <span class="checkround"></span>
														</label>
														<label class="radio">Warning<input id="rbWarning" type="radio" data-val="4" name="is_filterGroup">
														  <span class="checkround"></span>
														</label>
													
													<label><span style="font-style: italic; font-size: 12px">Since
													<input type="date" autocomplete="off" id="sinceDate"></input></span></label>												    														
													</br><span style="font-style: italic; font-size: 10px">(Note: Selection may take up to 3 seconds to appear)</span>
											</div>
								        </div>
									</div>
									
									<div class="card">
										<div id="filterMsg" style="margin-top: 5px; margin-left: 5px; display: none;"><span style="color: red">There is nothing to see here with your current filter selections.<span></div>
										<div id="siteInstancesTarget"></div>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>
				
				<div id="prefsTab" class="tab-pane fade" role="tabpanel">
					<div class="row">
						<div class="col-lg-4">
							<div class="card">
								<div class="card-header">Set your preferences</div>
								<div class="card-body">
									<form role="form" method="POST" action="/login/">
										<div>
											<span style="font-size: 16px;"><a href="{% url 'change_password' %}">Change your Password</a></span>
										</div>								  	
									</form>
								</div>
							</div>
						</div>
					</div>					
				</div>
				
				<div id="priorResultsTab" class="tab-pane fade" role="tabpanel">
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-header">Prior run results, sorted by most recent</div>
								<div id="prevRun_17" class="modal fade" role='dialog'>
								    <div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">RENCI run 17 "Storm Delta" - 12-05-2018</h4>
											</div>
											<div class="modal-body">
												<img src="/static/ASGS_Mon/images/cera_img.JPG">       
												<div style="float: right; text-align: left;"> Image statistics:<br> Storm: Delta<br> File Name: RENCI_img17.jpg<br> Processing time: 23 minutes.</div>    
											</div>
										</div>
								  	</div>
								</div>
								<div id="prevRun_16" class="modal fade" role='dialog'>
								    <div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">RENCI run 16 "Storm Charlie" - 12/04/2018</h4>
											</div>
											<div class="modal-body">
												<img src="/static/ASGS_Mon/images/cera_img.JPG"> 
												<div style="float: right; text-align: left;"> Image statistics:<br> Storm: Charlie<br> File Name: RENCI_img16.jpg<br> Processing time: 32 minutes.</div>    
											</div>
										</div>
								  	</div>
								</div>
								<div id="prevRun_15" class="modal fade" role='dialog'>
								    <div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">RENCI run 15 "Storm Beta" - 12/03/2018</h4>
											</div>
											<div class="modal-body">
												<img src="/static/ASGS_Mon/images/cera_img.JPG"> 
												<div style="float: right; text-align: left;"> Image statistics:<br> Storm: Beta<br> File Name: RENCI_img15.jpg<br> Processing time: 61 minutes.</div>    
											</div>
										</div>
								  	</div>
								</div>
								<div id="prevRun_14" class="modal fade" role='dialog'>
								    <div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">RENCI run 14 "Storm Alpha" - 12/02/2018</h4>
											</div>
											<div class="modal-body">
												<img src="/static/ASGS_Mon/images/cera_img.JPG"> 
												<div style="float: right; text-align: left;"> Image statistics:<br> Storm: Alpha<br> File Name: RENCI_img14.jpg<br> Processing time: 45 minutes.</div>    
											</div>
										</div>
								  	</div>
								</div>
								<div style="margin-top: 5px; margin-bottom: 5px;">
									<ul>
										<li><a href="javascript:void(0);" class="priorResultLink" data-toggle="modal" data-target="#prevRun_17">RENCI run 17 "Storm Delta" - 12/05/2018</a></li>
										<li><a href="javascript:void(0);" class="priorResultLink" data-toggle="modal" data-target="#prevRun_16">RENCI run 16 "Storm Charlie" - 12/04/2018</a></li>
										<li><a href="javascript:void(0);" class="priorResultLink" data-toggle="modal" data-target="#prevRun_15">RENCI run 15 "Storm Beta" - 12/03/2018</a></li>
										<li><a href="javascript:void(0);" class="priorResultLink" data-toggle="modal" data-target="#prevRun_14">RENCI run 14 "Storm Alpha" - 12/02/2018</a></li>
									</ul>
								</div>								
							</div>					
						</div>
					</div>
				</div>
				
				<div id="submitTab" class="tab-pane fade" role="tabpanel">
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-header">Enter job submission parameters</div>
								<div class="card-body">
									<form role="form" method="post" action="">
										<div class="input-group">
										    <span class="input-group-addon">Cluster</span>
											<select id="clusterName" class="form-control" onchange="loadJobSubmit(this.value)">
												<option value="-1">Select a cluster</option>
												<option value="George Mason">George Mason</option>
												<option value="LSU">LSU</option>
												<option value="Penguin">Penguin</option>
												<option value="RENCI">RENCI</option>
												<option value=TACC>TACC</option>
												<option value="UCF">UCF</option>
											</select>											
										</div>
										<div id="selectedCluster" style="display: none;">
											<div id="clusterUtilArea">
												<span id="clusterVal" style="margin-left: 5px;"></span>
												<div id="chartID" class="chart"></div>
											</div>	
											<br>
										  	<div class="input-group">
										    	<span class="input-group-addon">Run parameters</span>
										    	<input id="msg" type="text" class="form-control" name="msg" placeholder="Enter the run parameters">
										  	</div>
										  	<br>
										  	<div class="input-group">
												<button type="button" class="btn btn-info" value="Submit" onclick="updateMsg('jsMsg');">Submit</button>
												<div style="margin-top: 5px"><span id="jsMsg" style="display: none; color: darkgreen;"></span></div>													
											</div>
										</div>									
									</form>
								</div>
							</div>
						</div>
					</div>					
				</div>	
						
				<div id="configTab" class="tab-pane fade" role="tabpanel">
					<div class="row">
						<div class="col-lg-6">
							<div class="card">
								<div class="card-header">Run configurations, sorted by most recent</div>
								<div id="configTabList" style="margin-top: 5px; margin-bottom: 5px;"></div>								
							</div>					
						</div>
					</div>
				</div>
				
				{% if user.is_superuser %}
				<div id="adminTab" class="tab-pane fade" role="tabpanel">
					<div class="row">
						<div class="col-lg-4">
							<div class="card">
								<div class="card-header">Site Administration</div>
								<div class="card-body">
									<form role="form" method="post" action="">
									  	<div class="input-group">
										    <span class="input-group-addon">User</span>
											<select class="form-control" id="userName" onchange="loadUser(this.value)">
												<option value="-1">Select a user</option>
												<option value="JSmith">John Smith</option>
												<option value="MJones">Mark Jones</option>
												<option value="FWhite">Fred White</option>
												<option value="MJames">Mark James</option>												
											</select>											
										</div>
										<div id="selectedUserAdmin" style="display: none;">
											<div id="userAdminArea">										
												<span id="userVal" style="margin-top: 10px;"></span>	
											</div>
											<br>
											<div class="input-group">			
										    	<span class="input-group-addon">Role</span>
												<select class="form-control" id="userRole">
													<option value="-1">Select a new role</option>
													<option value="Administrator">Administrator</option>
													<option value="Job Submitter">Job Submitter</option>
													<option value="User" selected>User</option>
												</select>											
											</div>														
											<div class="checkbox">
												<label><input type="checkbox" value="">Disable user</label>
											</div>								  												
										  	<div class="input-group">
												<button type="button" class="btn btn-info" value="Submit" onclick="updateMsg('saMsg');">Submit</button>
												<div style="margin-top: 5px"><span id="saMsg" style="display: none; color: darkgreen;"></span></div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>					
				</div>		
				{% endif %}
					
			</div>
		</div>
	{% endblock %}
