{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
	<link rel="shortcut icon" href="{% static 'ASGS_Mon/images/favicon.png' %}" type="image/png">
	<link rel="icon" href="{% static 'ASGS_Mon/images/favicon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'ASGS_Mon/style.css' %}" type="text/css">	
<body>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
	<script src="{% static 'ASGS_Mon/utilview.js' %}"></script>
	<script type="text/javascript">
		// create a table for the title area
		var tbl = d3.select("body")
					.append("table")
			  		.attr("id", "pagehdr");
		
		// create a table row
		var tr = tbl.append("tr");
		
		// create a row column for the logo
		tr.append("td")
			.attr("align", "left")
					.html(function() {
						return "<img src=\"{% static 'ASGS_Mon/images/logo.jpg' %}\"/>";
					});
		
		// and another for the title				
		tr.append("td")
			.attr("text-align", "middle")
			.text("ASGS Operational Awareness Dashboard");
		
		// set the location of the individual site component
		var margin = {top: 15, right: 15, bottom: 20, left: 15};
		
		// set the width of the individual site instance component
		var width = margin.left + 450 + margin.right;
	    
		// set the height of the individual site instance component
		var height = 50 - margin.top - margin.bottom;
	
		// create the site instance visualization component
		var siteInstance = d3.siteInstanceView()
	    	.width(width)
	    	.height(height);
		
		// TODO: check for browser support?
	 	if(typeof(EventSource) !== "undefined") 
	 	{
		 	// define the event endpoint 
	 		var eSource = new EventSource("dataReq?type=event");
		
	 		// detect message receipt to a event load
	 		eSource.onmessage = function(event) 
	 		{		 	 		
				// create/init the shells for all the site instances
				d3.json("dataReq?type=init", function(error, data)
				{
					// erase all the site instances on error
					if (error || data.length == 0) 
					{
						curRendered = d3.selectAll(".siteInstanceView").remove();
						return;
					}
						
					// get the current rendered items
					var curRendered = d3.selectAll(".siteInstanceView").selectAll("svg");
	
					// do we have a valid site instance defined
					if(Array.isArray(curRendered))
					{
						// loop through the rendered site instances and remove ones with no incoming data 
						for(i=0; i<curRendered.length; i++)
						{
							// reset the found flag
							bfound = false;
							
							// for each id in the incoming data
							for(j=0; j<data.length; j++)
							{
								// was it previously rendered
								if(curRendered[i].parentNode.id == "_" + data[j].instance_id)
								{
									// set the flag
									bfound = true;
									
									// no need to continue
									break;
								}
							}
							
							// if data for this rendered item is not found remove it
							if(!bfound)
								curRendered[i].parentNode.remove();
						}
					}
					
				  	// render the svg region for all individual site instances
				  	var svg = d3.select("body").selectAll("svg")
					    .data(data)
					    .enter()
					    	.append("svg")
								.attr("id", function(d) {return "_" + d.instance_id;} )
								.attr("class", "siteInstanceView")
								.attr("width", width + 30)
								.attr("height", 75)
								.append("g")
									.attr("transform", "translate(" + margin.left + "," + margin.top + ")")
									.call(siteInstance);				  		
					
					// create a region for the textual information
				  	var title = svg.append("g")
				      	.attr("transform", "translate(0, -5)");
				
					// append the expand/collapse image
					title.append("image")
					    .attr("xlink:href","{% static 'ASGS_Mon/images/down2.gif' %}")
					    .attr("width", 10)
					    .attr("height", 10)
						.attr("x", -13)
						.attr("y", -9)
						.on("click", function(d) 
						{
							// get a ref to the site instance
							si = d3.select("#_" + d.instance_id);
							
							// if it is large
							if(si.style('height') == "75px")
							{
								// make it small, showing only the header
								si.transition()
									.duration(300)
										.attr("height", "14")
								
								// adjust the direction image
								d3.select(this).attr({"xlink:href": "{% static 'ASGS_Mon/images/up2.gif' %}"});
							}
							else
							{
								// make it ful size
								si.transition()
									.duration(300)
										.attr("height", "75")
								
								// adjust the direction image
								d3.select(this).attr({"xlink:href": "{% static 'ASGS_Mon/images/down2.gif' %}"});
							}
						})

					// append the site name
					title.append("text")
					    .text(function(d) { return d.title + " - Process: " + d.process_id; })
					    .attr("class", "title");
				  	  
					// append the process run state. colored RGB later
					title.append("text")
						.text("Working...")
						.attr("id", function(d) { return "_" + d.instance_id + "_state"; })
						.attr("class", "stateSm")
			      		.attr("fill", "gray")
						.attr("x", width/2 - 40);

					// append the event operation message text that goes inside the bar graph
					svg.append("g")
						.attr("transform", "translate(6," + height / 2 + ")")
							.append("text")
								.text("Working...")
								.attr("id", function(d) { return "_" + d.instance_id + "_operation"; })
					      		.attr("fill", "gray")
								.attr("class", "state")
								.attr("dy", ".35em");

					// append the run parameters text
					svg.append("g")
				      	.style("text-anchor", "end")
						.attr("transform", "translate(" + width + ", -5)")
							.append("text")
								.attr("id", function(d) { return "_" + d.instance_id + "_params"; })
								.attr("class", "params")
								.text(function(d) { return "Run params: " + d.run_params; });					 	 		

					// create a rect for the event summary text
					var lastEventBox = svg.append("g")
			      		.attr("transform", "translate(0, 35)")
						.append("rect")
						.attr("class", "eventBox")
						.attr("height", 14)
						.attr("width", 0)
						.transition()
							.duration(1500)
								.attr("width", width);

					// output a place holder for the eventual event summary
		      		var lastEventText = svg.append("g")						
			      		.attr("transform", "translate(3, 45)")
						.append("text")
							.attr("class", "eventSummary")
							.attr("id", function(d) { return "_" + d.instance_id + "_eventSummary"; })
							.text("textarea")
				      		.attr("fill", "gray")
							.text("Working...")
				});
				
	 	 		// parse the incoming data object
	 	 		var theMsg = JSON.parse(event.data);
	 	 		 	 		
	 	 		// get a reference to the visualization component
	 			var svg = d3.select("body").selectAll("svg");
	 			
	 	 		// reload the visualization with the new data
	 			svg.data(theMsg.utilization).call(siteInstance.duration(1500));
	 		}
	 	}
	</script>
</body>
